<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/reset.css">
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<title>about japan</title>
</head>
<body>
	<header>

	</header>

	<div class="main">
		<div class="heading">
			<h1>about Japan</h1>
		</div>
		<div class = "info-list">
			<ul>
				{% for info in infos %}
				<li class = "info">
					<p class = "info-name">{{ info.name }}</p>
					<p class = "info-data">{{ info.data }} </p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<footer>

	</footer>
</body>
</html>