<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/reset.css">
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<title>about japan</title>
</head>
<body>
	<header>

	</header>

	<div class="main">
		<div class="heading">
			<h1>about Japan</h1>
		</div>
		<div class = "info-list">
			<ul>
				<li class = "info">
					<p class = "info-name">population</p>
					<p class = "info-data">120 million people</p>
				</li>
				<li class = "info">
					<p class = "info-name">area</p>
					<p class = "info-data">378000 square kilometer</p>
				</li>
				<li class = "info">
					<p class = "info-name">japanese GDP</p>
					<p class = "info-data">$4.939 trillion</p>
				</li>
				<li class = "info">
					<p class = "info-name">Prime Minister</p>
					<p class = "info-data">Shinzo Abe</p>
				</li>
				<li class = "info">
					<p class = "info-name">Japanese capital</p>
					<p class = "info-data">Tokyo</p>
				</li>
				<li class = "info">
					<p class = "info-name">Japanese sports</p>
					<p class = "info-data">Sumo</p>
				</li>
				<li class = "info">
					<p class = "info-name">Japanese company</p>
					<p class = "info-data">TOYOTA</p>
				</li>
		
			</ul>
		</div>
	</div>

	<footer>

	</footer>
</body>
</html>